@{
    ViewData["Title"] = "Изменение контактных данных";
    Layout = "_Layout";
}
<link href="~/css/IndexStyle.css" rel="stylesheet" />
@using FinalProject_Web.Model;
@{
    bool isAdmin;
    if (ViewBag.IsAdmin != null && ViewBag.IsAdmin == true)
    {
        isAdmin = true;
    }
    else
    {
        isAdmin = false;
    }
}
@model Contacts
@if (!isAdmin)
{
    <div class="form-container">

        <div class="request-form center">
            <div>
                <form action="~/Web/ChangeContact" method="post" enctype="multipart/form-data" id="uploadForm">
                    <input type="file" name="imageFile" accept="image/*" id="uploadInput" />
                    <input type="hidden" name="fileName" value="ContactsMap.png">
                    <label>Адрес</label>
                    <input type="text" name="address" value="@Model.Address"/><br />
                    <label>e-Mail</label><br />
                    <input type="text" name="email" value="@Model.Email" /><br />
                    <label>Факс</label><br />
                    <input type="text" name="fax" value="@Model.Fax" /><br />
                    <label>Телефон</label><br />
                    <input type="text" name="telephone" value="@Model.Telephone" /><br />
                    <p><input type="submit" style="margin-top:20px" class="styled-button" value="Подтвердить изменения" /></p>
                </form>
            </div>
        </div>
    </div>
}
