.body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

.head{
    width:100vw;
    height:10vh;
    min-height:150px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    display: flex;
    background-image: url('../img/Background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.BG {
    flex:1;
}

.fontStyle {
    color: blue;
    font-size: 30px;
    margin-left: 20px;
}

.header-wrap {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    box-sizing: border-box;
    float: right;
}

.menu{
    display: flex;
    list-style: none;
}
.menu li{
    margin-left:10px;
}
.menu li div a {
    margin-left: 15px;
    font-size: 21px;
    font-weight:300;
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    box-sizing: border-box;
}
.menu li div a:hover {
    color: darkorange;
    border-bottom: 1px solid darkorange;
}
    .menu li div b {
        font-size: 21px;
        font-weight: 300;
        color: white;
        text-decoration: none;
        box-sizing: border-box;
    }
    .menu li div b:hover {
        color: darkorange;
        border-bottom: 1px solid darkorange;
    }

    .menu li div form {
        text-decoration: none;
        padding: 10px 10px;
        box-sizing: border-box;
        cursor: pointer;
        margin-left:15px;
    }

        .block-dekstop {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

.block-dekstop-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-time {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-time-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding-right: 20px;
    box-sizing: border-box;
    float: right;
}

.form-time-header-menu {
    display: flex;
    list-style: none;
}

    .form-time-header-menu li {
        margin-left: 10px;
    }

        .form-time-header-menu li div input {
            margin-left: 15px;
            font-size: 21px;
            font-weight: 300;
            color: black;
            text-decoration: none;
            padding: 10px 10px;
            box-sizing: border-box;
            min-width:150px;
            background-color:white;
        }

            .form-time-header-menu li div input:hover {
                color: blue;
                border-bottom: 1px solid blue;
            }

.header-menu-button-submit {
    margin-left: 15px;
    font-size: 21px;
    font-weight: 300;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 10px; 
    background-color: white; 
    cursor: pointer; 
}
.header-menu-button-submit:hover {
    color: blue;
    border-bottom: 1px solid blue;
}

.date-container {
    display: flex;
}

.date-container-form{
    display:flex;
    flex-direction:row;
}

.application-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-container {
    align-items: flex-start;
    display: flex;
}

.links-container-admin {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.links-container-adminEdit {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tagline {
    color: white;
    font-size: 25px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.spoiler-header{
    display:none;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
    .block h1 {
        border-bottom: 2px solid blue;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

.block-header {
    text-align: center;
    margin-bottom: 5px;
}

.block-common-header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5px;
    margin-left:10px;
}

.block-header-logo {
    display: flex;
    padding-left:50px;
    padding-top :70px;
}

.block-header-title {
    flex: 1;
    text-align: left;
    max-width:1200px;
    min-width:500px;
}

.block-header-contact {
    flex: 1;
    text-align: center;
    width:400px;
    margin-right:20px;
    margin-left:20px;
    margin-bottom:10px;
    display:flex;
    flex-direction: column;
}

.block-header-contact-info {
    text-align: center
}

.block-header-contact-logo {
    display: flex;
    justify-content: center;
}

.block-header-contact-logo-concreteLogo {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-footer {
    text-align: center;
    margin-top: 10px;
    padding:5px;
}

.block-container {
    width: 900px;
    background-color: rgba(0, 0, 255, 0.05);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.block-item {
    margin-bottom: 20px;
}

.block-title {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding: 0px 0px 0px 30px;
    cursor: pointer;
    padding: 10px;
}

    .block-title:before,
    .block-title:after {
        content: '';
        width: 10px;
        height: 1px;
        background-color: #000;
        position: absolute;
        top: 18px;
    }

    .block-title:before {
        transform: rotate(40deg);
        left: -15px;
    }

    .block-title:after {
        transform: rotate(-40deg);
        left: -7px;
    }

    .block-title.active:before,
    .block-title.active:after {
        background-color: red;
    }

    .block-title.active:before {
        transform: rotate(-40deg);
    }

    .block-title.active:after {
        transform: rotate(40deg);
    }

.block-text {
    display: none;
    padding: 10px 0px 0px 0px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(0, 0, 255, 0.05);
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items:center;
}

    .edit-form input[type="text"] {
        padding: 2px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        position: relative;
        font-size:14px;
        margin-left:5px;
    }
    .edit-form button[type="submit"] {
        position: relative;
    }
    .edit-form a {
        font-size: 21px;
        font-weight: 300;
        color: bisque;
        text-decoration: none;
        padding: 10px 0px;
    }

    .styled-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3498db;
        color: white;
        border: 2px solid #2980b9;
        border-radius: 5px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .styled-button:hover {
        background-color: #2980b9;
        border-color: #3498db;
    }

.styled-left{
    left:-10px;
}

.form-button {
    align-items: center;
    justify-content: center;
}

.button-ic {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.form-picture {
    padding: 10px;
}

.block-text {

}

.project-container {
    background-color: rgba(0, 0, 255, 0.05);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2000px;
    margin: 0 auto;
    min-width: 450px;
}

.project-details {
    background-color: rgba(0, 0, 255, 0.05);
    display: flex;
    justify-content: left;
    width: 100%;
    margin-bottom: 5px;
}

.project-details-text {
    display: flex;
    padding-left: 50px;
    overflow-wrap: break-word;
    width:100%;
}

.project-details-text-h3 {
    white-space: pre-line;
    margin-right: 15px;
    text-align: justify;
    margin-top: 10px;
    width: 100%;
}

.project-details-padding {
    flex: 1;
    text-align: center;
    max-width: 1200px;
    min-width: 500px;
}

.block-item-project {
    width: 400px;
    margin: 15px;
    background-color: #cacaca;
    border: 2px solid #cacaca;
}

.form-picture-project {
    background-color: white;
    padding: 0;
    margin: 0;
    width: 100%;
}

    .form-picture-project img {
        width: 100%;
    }

.form-picture-project-block{
    padding-top:40px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:20px;
}

.block-text-project {
    background-color: #cacaca;
    color: black;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 45px;
    font-weight: 600;
    font-size: 18px;
}

.block-container-items {
    
}

.block-container-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}



.block-container-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.block-item-blog {
    width: 250px;
    margin: 5px;
}
    .block-item-blog a {
        display: block;
        font-size: 14px;
        margin-top: 1px;
        font-weight: bold;
    }

.form-picture-blog {
    padding: 0;
    margin: 0;
    width: 100%;
}
    
    .form-picture-blog img {
    width: 100%;
    }


.form-picture-blog-block {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.block-text-blog {
    color: black;
    margin-left: 0;
    margin-right:0;
    margin-bottom:3px;
    text-align: justify;
    width: 100%;
    height: 120px;
    font-weight: 500;
    font-size: 13px;
    margin-top:1px;
}

.block-common{
    display:block;
    margin-left:25px;
}

.block-common-blog {
    background-color: rgba(0, 0, 255, 0.05);
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5px;
}

.block-common-contacts {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.block-common-logo {
    display: flex;
    padding-left: 10px;
    margin-top:10px;
}

.block-common-logo {
    display: flex;
    padding-left: 10px;
    margin-top: 10px;
}

.blog-details {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-bottom: 5px;
}

.blog-details-text {
    display: flex;
    padding-left: 50px;
    overflow-wrap:break-word;
    width:100%;
}

.blog-details-text-h3 {
    white-space: pre-line;
    margin-right: 15px;
    text-align: justify;
    margin-top:10px;
    width: 100%;
}

.login-container {
    margin-top: 50px;
}

.login-container-row {
    display: flex;
    justify-content: center;
}

.login-container-class {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width:528px;
}

    .login-container-class form {
        margin: 0;
    }

.login-container-class-form {
    margin-bottom: 20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

    .login-container-class-form input[type="text"],
    .login-container-class-form input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom:10px;
        font-size:18px;
    }

.form-group{
    width:100%;
}

.text-center {
    text-align: center;
    font-size:22px;
}

.alert {
    font-size: 19px;
    font-weight:bold;
    color: red;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.success {
    font-size: 19px;
    font-weight: bold;
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-danger {
    font-size: 19px;
    font-weight: bold;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}